.btn {
    display: inline-block;
    color: $clr_strong1;
    background-color: $clr_strong2;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: $fz_small;

    &:hover,
    &:focus {
        transition: .3s;
        opacity: 0.8;
    }

    &--large {
        width: 200px;
        height: 60px;
        line-height: 60px;
    }

    &--large-brown {
        background-color: $clr_point;
        width: 200px;
        height: 60px;
        line-height: 60px;
    }

    &--border {
        color: $clr_strong2;
        box-sizing: border-box;
        border: 5px solid $clr_strong2;
        background-color: transparent;
        line-height: 30px;
    }
}