.card {
    background-color: $clr_strong1;

    &__img-wrapper {
        position: relative;
        padding-top: 140 / 250 * 100%;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }

    &__body {
        padding: 15px;
        min-height: 120px;
    }

    &__date {
        font-size: $fz_min;
        line-height: (21 / 12);
    }

    &__text {
        font-size: $fz_normal;
        line-height: (21 / 16);
    }

    &--sub {
        display: flex;
        align-items: flex-start;

        .card {
            &__img-wrapper {
                flex: 0 0 40%;
                // 画像サイズの比率の40%(flexで指定した幅、40%分)でPTを指定
                padding-top: (88px / 156px) * 0.4 * 100%;
            }

            &__body {
                box-sizing: border-box;
                flex: 0 0 60%;
                min-height: 0;
            }
        }
    }
}