.cast-detail {
    margin-top: 60px;

    &__sub-cast {
        margin: 60px auto 0;
        width: 70%;
        max-width: 810px;

        @include mq(lg) {
            width: 90%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        @include mq() {
            display: block;
        }
    }

    &__card {
        width: (390px / 810px) * 100%;
        margin-right: (30px / 810px) * 100%;
        display: flex;

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include mq() {
            width: 100%;
            margin-right: 0;
        }
    }

    &__img-wrapper {
        flex: 0 0 33.3%;
        margin-right: 10px;
    }

    &__img {
        width: 100%;
        border-radius: 50%;
    }

    &__country {
        font-size: $fz_normal;
        color: #1A1A1A;
        line-height: (29.6px / $fz_normal);
    }

    &__name {
        font-size: $fz_large;
        color: #1A1A1A;
        font-weight: bold;
        line-height: (29.6px / $fz_large);
    }

    &__expert {
        font-size: $fz_min;
        color: #1A1A1A;
        line-height: (29.6px / $fz_min);

    }

    &__text {
        font-size: $fz_min;
        color: #1A1A1A;
        line-height: (21 / 12);
    }
}