.cast {
    margin-top: 60px;

    &__title {
        padding-bottom: 132px;
    }

    &__contents {
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__contents-inner {
        display: flex;
        margin: 0 auto 15px;
        width: 70%;
        max-width: 810px;

        @include mq(lg) {
            width: 90%;
        }

        @include mq() {
            display: block;
            transform: translateY(-100px);
            margin-bottom: -100px;
        }
    }

    &__content {
        width: 250px / 810px * 100%;
        margin-top: -100px;
        margin-right: 30px / 810px * 100%;

        &:last-child {
            margin-right: 0;
        }

        @include mq() {
            width: 100%;
            margin-right: 0;
            margin-top: 0;
        }
    }

    &__img-wrapper {
        position: relative;
        margin: 0 15px 40px;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        @include mq() {
            width: 240px;
            margin: 0 auto 20px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }

    &__role {
        text-align: center;
        font-size: $fz_normal;
        color: $clr_normal;
        line-height: 21px;
        height: 21px;
    }

    &__name {
        text-align: center;
        font-size: $fz_normal;
        color: $clr_normal;
        line-height: 21px;
        height: 21px;
    }

    &__expert {
        text-align: center;
        font-size: $fz_min;
        color: #666666;
        line-height: 30px;
        height: 30px;
    }

    &__text {
        font-size: $fz_min;
        color: #666666;
        line-height: (21 / 12);
    }

    &__btn-wrapper {
        text-align: center;
        padding-bottom: 30px;
    }
}