.introduction {
    background-image: url(../img/introduction_bgi.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgba(255, 255, 255, 0.29);
    margin: 60px auto 0;
    width: 70%;
    max-width: 810px;

    @include mq(lg) {
        margin: 60px auto 0;
        width: 90%;
    }

    @include mq() {
        background-size: 150px;
    }

    &__title {
        padding-top: 26px;
    }

    &__sub-title {
        color: #301F1B;
        padding-top: 10px;
        padding-bottom: 25px;
        text-align: center;
        font-size: $fz_very_large;

        @include mq() {
            font-size: $fz_large;
        }
    }

    &__content {
        display: flex;
        padding: 0 30px 30px;

        @include mq() {
            display: block;
        }
    }

    &__text {
        font-size: $fz_min;
        line-height: (21 / 12);

        &:not(:last-child) {
            margin-right: 30px;
        }

        @include mq() {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}