.news {
    margin: 60px auto 0;
    position: relative;
    width: 70%;
    max-width: 810px;

    @include mq(lg) {
        margin: 60px auto 0;
        width: 90%;
        padding-bottom: 40px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 10px;

        @include mq() {
            top: auto;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include mq() {
            display: block;
        }
    }

    &__card {
        width: 250px / 810px * 100%;
        margin-bottom: 30px;

        &:nth-child(1),
        &:nth-child(2) {
            margin-right: 30px / 810px * 100%;
        }

        @include mq() {
            width: 100%;
            margin-bottom: 20px;

            &:nth-child(1),
            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }

    &__card-sub {
        width: 390px / 810px * 100%;

        &:nth-child(4) {
            margin-right: 30px / 810px * 100%;
        }

        @include mq() {
            width: 100%;
            margin-bottom: 20px;

            &:nth-child(4) {
                margin-right: 0;
            }
        }
    }
}