.story-detail {
    &__first {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8)), url(../img/story1.png);
        background-size: cover, 70%;
        background-position: center, left center;
        background-repeat: no-repeat;
        background-color: #000;

        @include mq(lg) {
            background-size: cover;
            background-position: center;
        }
    }

    &__no-bgi {
        background-image: none !important;
    }

    &__breadcrumbs {
        width: 70%;
        max-width: 810px;
        margin: 30px auto 0;
        color: $clr_strong1;

        a {
            color: $clr_strong1;
        }

        @include mq() {
            width: 90%;
        }
    }

    &__title {
        margin-top: 30px;
    }

    &__right-content {
        display: flex;
        justify-content: flex-end;
        width: 70%;
        max-width: 810px;
        margin: 0 auto;

        @include mq() {
            width: 90%;
        }
    }

    &__left-content {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        max-width: 810px;
        margin: 0 auto;

        @include mq() {
            width: 90%;
        }
    }

    &__text {
        padding-top: 60px;
        padding-bottom: 60px;
        color: $clr_strong1;
        font-size: $fz_min;
        width: 47%;
        line-height: (22 / 12);

        @include mq(lg) {
            width: 60%;
        }

        @include mq() {
            width: 100%;
        }
    }

    &__second {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1)), url(../img/story2.png);
        background-size: cover, 70%;
        background-position: center, right center;
        background-repeat: no-repeat;
        background-color: #000;

        @include mq(lg) {
            background-size: cover;
            background-position: center;
        }

    }

    &__third {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8)), url(../img/story3.png);
        background-size: cover, 70%;
        background-position: center, left center;
        background-repeat: no-repeat;
        background-color: #000;

        @include mq(lg) {
            background-size: cover;
            background-position: center;
        }

    }

    &__4th {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1)), url(../img/story4.png);
        background-size: cover, 70%;
        background-position: center, right center;
        background-repeat: no-repeat;
        background-color: #000;

        @include mq(lg) {
            background-size: cover;
            background-position: center;
        }

    }


}