.story {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8)), url(../img/story_bgi.png);
    background-size: cover;
    background-position: center;
    margin-top: 60px;

    &__title {
        padding-top: 30px;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto 30px;
        width: 70%;
        max-width: 810px;

        @include mq(lg) {
            width: 90%;
        }
    }

    &__text {
        width: 50%;
        color: $clr_strong1;
        font-size: $fz_min;
        line-height: (21 / 12);

        @include mq(lg) {
            width: 75%;
        }

        @include mq() {
            width: 100%;
        }
    }

    &__btn {
        text-align: right;
        margin-right: 15%;
        padding-bottom: 30px;

        @include mq() {
            text-align: center;
            margin-right: 0;
        }
    }
}