.sub-header {
    &__wrapper {
        background-image: url(../img/hero.png);
        background-position: center;
        background-size: cover;
        padding-top: 60px;
    }

    &__img-wrapper {
        position: relative;
        display: flex;
        width: 70%;
        max-width: 810px;
        margin: 0 auto;
        padding-bottom: 60px;

        @include mq(lg) {
            width: 90%;
        }

        @include mq() {
            display: block;
        }

    }

    &__title-wrapper {
        width: (460px / 810px) * 100%;
        margin-right: (100px / 810px) * 100%;

        img {
            width: 100%;
        }

        @include mq() {
            width: 100%;
            margin-right: 0;
        }
    }

    &__date-wrapper {
        width: (250px / 810px) * 100%;

        img {
            width: 100%;
        }

        @include mq() {
            margin-top: 40px;
            width: 90%;
            margin: 0 auto;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: -20px;

        @include mq() {
            right: 50%;
            transform: translateX(50%);
        }
    }

    &__breadcrumbs {
        width: 70%;
        max-width: 810px;
        margin: 30px auto 0;

        @include mq() {
            width: 90%;
        }
    }
}