.introduction {
	background-color: rgba(255, 255, 255, 0.29);
	background-image: url(../img/introduction_bgi.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 60px 15% 0 15%;
}

.introduction__title {
	padding-top: 26px;
}

.introduction__sub-title {
	padding-top: 10px;
	text-align: center;
}

