body {
	background-image: url(../img/bgi.png);
	background-repeat: repeat;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
	color: #333333;
	text-decoration: none;
}

.nav {
	align-items: center;
	display: flex;
	height: 90px;
	justify-content: center;
}

.nav__item {
	display: block;
}

.nav__item:not(:last-child) {
	margin-right: 45px;
}

.nav__item:hover,
.nav__item:focus {
	opacity: 0.8;
	transition: .3s;
}

.nav__anchor {
	display: block;
}

.nav__title {
	color: #421f15;
	font-size: 12px;
	text-align: center;
}

.nav__english {
	color: #421f15;
	font-size: 22px;
	margin-top: 10px;
	text-align: center;
}

.main-visual {
	background-image: url(../img/hero.png);
	background-position: center;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.main-visual__title {
	margin: 0 10%;
	padding-bottom: 88px;
}

.main-visual__title img {
	width: 100%;
}

.main-visual__content {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin: 0 10%;
}

.main-visual__date {
	width: 370px;
}

.main-visual__date img {
	width: 100%;
}

.main-visual__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.57143;
	width: 340px;
}

.main-visual__btn {
	bottom: -30px;
	position: absolute;
	right: 10%;
}

.btn {
	background-color: #c63205;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 120px;
}

.btn:hover,
.btn:focus {
	opacity: 0.8;
	transition: .3s;
}

.btn--large {
	height: 60px;
	line-height: 60px;
	width: 200px;
}

.btn--border {
	background-color: transparent;
	border: 5px solid #c63205;
	box-sizing: border-box;
	color: #c63205;
	line-height: 30px;
}

.title {
	color: #301F1B;
	font-size: 43px;
	line-height: 66 / 43;
	text-align: center;
}

.title--white {
	color: #ffffff;
}

.introduction {
	background-color: rgba(255, 255, 255, 0.29);
	background-image: url(../img/introduction_bgi.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 60px 15% 0 15%;
}

.introduction__title {
	padding-top: 26px;
}

.introduction__sub-title {
	color: #301F1B;
	font-size: 34px;
	padding-bottom: 25px;
	padding-top: 10px;
	text-align: center;
}

.introduction__content {
	display: flex;
	padding: 0 30px 30px;
}

.introduction__text {
	font-size: 12px;
	line-height: 1.75;
}

.introduction__text:not(:last-child) {
	margin-right: 30px;
}

.news {
	margin: 60px 15% 0;
	position: relative;
}

.news__title {
	margin-bottom: 30px;
}

.news__btn {
	position: absolute;
	right: 0;
	top: 10px;
}

.news__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.news__card {
	margin-bottom: 30px;
	width: 30.8642%;
}

.news__card:nth-child(1),
.news__card:nth-child(2) {
	margin-right: 3.7037%;
}

.news__card-sub {
	width: 48.14815%;
}

.news__card-sub:nth-child(4) {
	margin-right: 3.7037%;
}

.card {
	background-color: #ffffff;
}

.card__anchor {
	display: block;
}

.card__img-wrapper {
	overflow: hidden;
	padding-top: 56%;
	position: relative;
}

.card__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.card__body {
	box-sizing: border-box;
	min-height: 120px;
	padding: 15px;
}

.card__date {
	font-size: 12px;
	line-height: 1.75;
}

.card__text {
	font-size: 16px;
	line-height: 1.3125;
}

.card--sub .card__anchor {
	align-items: flex-start;
	display: flex;
}

.card--sub .card__img-wrapper {
	flex: 0 0 40%;
	padding-top: 22.5641%;
}

.card--sub .card__body {
	box-sizing: border-box;
	flex: 0 1 60%;
	min-height: 0;
}

.story {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8)), url(../img/story_bgi.png);
	background-position: center;
	background-size: cover;
	margin-top: 60px;
}

.story__title {
	margin-bottom: 20px;
	padding-top: 30px;
}

.story__content {
	display: flex;
	justify-content: flex-end;
	margin: 0 15% 30px;
}

.story__text {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.75;
	width: 50%;
}

.story__btn {
	margin-right: 15%;
	padding-bottom: 30px;
	text-align: right;
}

.comments {
	margin: 60px 15% 0;
	position: relative;
}

.comments__title {
	color: #301F1B;
}

.comments__caption {
	color: #301F1B;
	font-size: 22px;
	margin-top: 30px;
	text-align: center;
}

.comments__content {
	background-image: url(../img/comments_bgi.png);
	background-position: center;
	background-size: cover;
	margin-top: 30px;
	padding-bottom: 60px;
}

.comments__person {
	color: #ffffff;
	font-size: 22px;
	margin-left: 30px;
	padding-top: 45px;
}

.comments__name {
	font-size: 34px;
}

.comments__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.57143;
	margin-left: 30px;
	margin-top: 15px;
	width: 420px;
}

.comments__btn {
	bottom: 15px;
	position: absolute;
	right: 15px;
}

.cast {
	margin-top: 60px;
}

.cast__title {
	padding-bottom: 132px;
}

.cast__contents {
	background-color: rgba(255, 255, 255, 0.9);
}

.cast__contents-inner {
	display: flex;
	margin: 0 15% 15px;
}

.cast__content {
	margin-right: 3.7037%;
	margin-top: -100px;
	width: 30.8642%;
}

.cast__content:last-child {
	margin-right: 0;
}

.cast__img-wrapper {
	margin: 0 15px 40px;
	position: relative;
}

.cast__img-wrapper:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.cast__img {
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.cast__role {
	color: #333333;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	text-align: center;
}

.cast__name {
	color: #333333;
	font-size: 16px;
	height: 21px;
	line-height: 21px;
	text-align: center;
}

.cast__expert {
	color: #666666;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.cast__text {
	color: #666666;
	font-size: 12px;
	line-height: 1.75;
}

.cast__btn-wrapper {
	padding-bottom: 30px;
	text-align: center;
}

@media screen and (max-width: 991px) {

.main-visual__title {
	margin: 0 5%;
}

.main-visual__content {
	margin: 0 5%;
}

.main-visual__date {
	width: 280px;
}

.main-visual__text {
	width: 250px;
}

.introduction {
	margin: 60px 5% 0;
}

.news {
	margin: 60px 5% 0;
	padding-bottom: 40px;
}

.story__content {
	margin: 0 5% 30px;
}

.story__text {
	width: 75%;
}

.comments {
	margin: 60px 5% 0;
}

.cast__contents-inner {
	margin: 0 5% 15px;
}

}

@media screen and (max-width: 767px) {

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__title {
	font-size: 16px;
}

.nav__english {
	display: none;
}

.main-visual__title {
	padding-bottom: 40px;
}

.main-visual__content {
	display: block;
}

.main-visual__date {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 90%;
}

.main-visual__text {
	margin: 0 auto;
	width: 90%;
}

.main-visual__btn {
	left: 50%;
	transform: translateX(-50%);
}

.title {
	font-size: 22px;
}

.introduction {
	background-size: 150px;
}

.introduction__sub-title {
	font-size: 22px;
}

.introduction__content {
	display: block;
}

.introduction__text:not(:last-child) {
	margin-right: 0;
}

.news__btn {
	bottom: 0;
	right: 50%;
	top: auto;
	transform: translateX(50%);
}

.news__cards {
	display: block;
}

.news__card {
	margin-bottom: 20px;
	width: 100%;
}

.news__card:nth-child(1),
.news__card:nth-child(2) {
	margin-right: 0;
}

.news__card-sub {
	margin-bottom: 20px;
	width: 100%;
}

.news__card-sub:nth-child(4) {
	margin-right: 0;
}

.card--sub .card__anchor {
	display: block;
}

.card--sub .card__img-wrapper {
	padding-top: 56%;
}

.card--sub .card__body {
	min-height: 120px;
}

.story__text {
	width: 100%;
}

.story__btn {
	margin-right: 0;
	text-align: center;
}

.comments__caption {
	font-size: 16px;
	text-align: left;
}

.comments__person {
	font-size: 14px;
	margin-left: 5%;
}

.comments__name {
	font-size: 16px;
}

.comments__text {
	margin: 15px 5% 0;
	width: auto;
}

.comments__btn {
	right: 50%;
	transform: translateX(50%);
}

.cast__contents-inner {
	display: block;
	margin-bottom: -100px;
	transform: translateY(-100px);
}

.cast__content {
	margin-right: 0;
	margin-top: 0;
	width: 100%;
}

.cast__img-wrapper {
	margin: 0 auto 20px;
	width: 240px;
}

}

@media screen and (max-width: 575px) {

.nav {
	flex-wrap: wrap;
}

.nav__item {
	width: 30%;
}

.nav__item:not(:last-child) {
	margin-right: 0;
}

}

