body {
	background-image: url(../img/bgi.png);
	background-repeat: repeat;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover,
a:focus {
	opacity: 0.8;
	transition: 0.3s;
}

.breadcrumbs {
	color: #333333;
	font-size: 12px;
}

.nav {
	align-items: center;
	display: flex;
	height: 90px;
	justify-content: center;
}

.nav__item {
	display: block;
}

.nav__item:not(:last-child) {
	margin-right: 45px;
}

.nav__anchor {
	display: block;
}

.nav__title {
	color: #421f15;
	font-size: 12px;
	text-align: center;
}

.nav__english {
	color: #421f15;
	font-size: 22px;
	margin-top: 10px;
	text-align: center;
}

.main-visual {
	background-image: url(../img/hero.png);
	background-position: center;
	background-size: cover;
	padding-bottom: 60px;
	padding-top: 60px;
	position: relative;
}

.main-visual__title {
	margin: 0 auto;
	max-width: 920px;
	padding-bottom: 88px;
	width: 80%;
}

.main-visual__title img {
	width: 100%;
}

.main-visual__content {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 810px;
	width: 80%;
}

.main-visual__date {
	width: 370px;
}

.main-visual__date img {
	width: 100%;
}

.main-visual__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.57143;
	width: 340px;
}

.main-visual__btn {
	bottom: -30px;
	position: absolute;
	right: 10%;
}

.btn {
	background-color: #c63205;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 120px;
}

.btn--medium {
	width: 150px;
}

.btn--large {
	height: 60px;
	line-height: 60px;
	width: 200px;
}

.btn--large-brown {
	background-color: #421f15;
	height: 60px;
	line-height: 60px;
	width: 200px;
}

.btn--border {
	background-color: transparent;
	border: 5px solid #c63205;
	box-sizing: border-box;
	color: #c63205;
	line-height: 30px;
}

.title {
	color: #301F1B;
	font-size: 43px;
	text-align: center;
}

.title--white {
	color: #ffffff;
}

.introduction {
	background-color: rgba(255, 255, 255, 0.29);
	background-image: url(../img/introduction_bgi.png);
	background-position: top left;
	background-repeat: no-repeat;
	margin: 60px auto 0;
	max-width: 810px;
	width: 70%;
}

.introduction__title {
	padding-top: 26px;
}

.introduction__sub-title {
	color: #301F1B;
	font-size: 34px;
	padding-bottom: 25px;
	padding-top: 10px;
	text-align: center;
}

.introduction__content {
	display: flex;
	padding: 0 30px 30px;
}

.introduction__text {
	font-size: 12px;
	line-height: 1.75;
}

.introduction__text:not(:last-child) {
	margin-right: 30px;
}

.news {
	margin: 60px auto 0;
	max-width: 810px;
	position: relative;
	width: 70%;
}

.news__title {
	margin-bottom: 30px;
}

.news__btn {
	position: absolute;
	right: 0;
	top: 10px;
}

.news__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.news__card {
	margin-bottom: 30px;
	width: 30.8642%;
}

.news__card:nth-child(1),
.news__card:nth-child(2) {
	margin-right: 3.7037%;
}

.news__card-sub {
	width: 48.14815%;
}

.news__card-sub:nth-child(4) {
	margin-right: 3.7037%;
}

.card {
	background-color: #ffffff;
}

.card__anchor {
	display: block;
}

.card__img-wrapper {
	overflow: hidden;
	padding-top: 56%;
	position: relative;
}

.card__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.card__body {
	box-sizing: border-box;
	min-height: 120px;
	padding: 15px;
}

.card__date {
	font-size: 12px;
	line-height: 1.75;
}

.card__text {
	font-size: 16px;
	line-height: 1.3125;
}

.card--sub .card__anchor {
	align-items: flex-start;
	display: flex;
}

.card--sub .card__img-wrapper {
	flex: 0 0 40%;
	padding-top: 22.5641%;
}

.card--sub .card__body {
	box-sizing: border-box;
	flex: 0 1 60%;
	min-height: 0;
}

.story {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8)), url(../img/story_bgi.png);
	background-position: center;
	background-size: cover;
	margin-top: 60px;
}

.story__title {
	margin-bottom: 20px;
	padding-top: 30px;
}

.story__content {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto 30px;
	max-width: 810px;
	width: 70%;
}

.story__text {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.75;
	width: 50%;
}

.story__btn {
	margin-right: 15%;
	padding-bottom: 30px;
	text-align: right;
}

.comments {
	margin: 60px auto 0;
	max-width: 810px;
	position: relative;
	width: 90%;
}

.comments--detail {
	margin-top: 30px;
}

.comments__title {
	color: #301F1B;
}

.comments__caption {
	color: #301F1B;
	font-size: 22px;
	margin-top: 30px;
	text-align: center;
}

.comments__content {
	background-image: url(../img/comments_bgi.png);
	background-position: center;
	background-size: cover;
	margin-top: 30px;
	padding-bottom: 60px;
}

.comments__person {
	color: #ffffff;
	font-size: 22px;
	margin-left: 30px;
	padding-top: 45px;
}

.comments__name {
	font-size: 34px;
}

.comments__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.57143;
	margin-left: 30px;
	margin-top: 15px;
	width: 420px;
}

.comments__btn {
	bottom: 15px;
	position: absolute;
	right: 15px;
}

.cast {
	margin-top: 60px;
}

.cast__title {
	padding-bottom: 132px;
}

.cast__contents {
	background-color: rgba(255, 255, 255, 0.9);
}

.cast--detail {
	padding-bottom: 40px;
}

.cast__contents-inner {
	display: flex;
	margin: 0 auto 15px;
	max-width: 810px;
	width: 70%;
}

.cast__content {
	margin-right: 3.7037%;
	margin-top: -100px;
	width: 30.8642%;
}

.cast__content:last-child {
	margin-right: 0;
}

.cast__img-wrapper {
	margin: 0 15px 40px;
	position: relative;
}

.cast__img-wrapper:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.cast__img {
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.cast__country {
	color: #333333;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.cast__name {
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.cast__expert {
	color: #666666;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.cast__text {
	color: #666666;
	font-size: 12px;
	line-height: 1.75;
}

.cast__btn-wrapper {
	padding-bottom: 30px;
	text-align: center;
}

.schedule {
	margin: 60px auto 0;
	max-width: 810px;
	width: 70%;
}

.schedule__wrapper {
	background-color: rgba(255, 255, 255, 0.29);
	padding-top: 30px;
}

.schedule__title {
	margin-bottom: 25px;
}

.schedule__contents {
	color: #301F1B;
	margin: 0 auto;
	padding-bottom: 60px;
	width: 79.01235%;
}

.schedule__content {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	justify-content: space-around;
	margin-bottom: 20px;
}

.schedule__text {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 8px;
}

.schedule__link {
	text-decoration: underline;
}

.schedule__btns {
	display: flex;
	margin: 0 auto;
	margin-top: 30px;
	width: 430px;
}

.schedule__contact-btn {
	margin-right: 30px;
}

.footer {
	background-color: #1A1A1A;
	margin-top: 60px;
	padding: 30px 0;
}

.footer__copy {
	color: #ffffff;
	display: block;
	font-size: 12px;
	text-align: center;
}

.sub-header__wrapper {
	background-image: url(../img/hero.png);
	background-position: center;
	background-size: cover;
	padding-top: 60px;
}

.sub-header__img-wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 810px;
	padding-bottom: 60px;
	position: relative;
	width: 70%;
}

.sub-header__title-wrapper {
	margin-right: 12.34568%;
	width: 56.79012%;
}

.sub-header__title-wrapper img {
	width: 100%;
}

.sub-header__date-wrapper {
	width: 30.8642%;
}

.sub-header__date-wrapper img {
	width: 100%;
}

.sub-header__btn {
	bottom: -20px;
	position: absolute;
	right: 0;
}

.sub-header__breadcrumbs {
	margin: 30px auto 0;
	max-width: 810px;
	width: 70%;
}

.news-list {
	margin: 30px auto 0;
	max-width: 810px;
	width: 70%;
}

.news-list__cards {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0 -30px;
}

.news-list__card {
	margin-bottom: 30px;
	margin-right: 5%;
	width: 30%;
}

.news-list__card:nth-child(3n) {
	margin-right: 0;
}

.wp-pagenavi {
	padding-top: 30px;
	text-align: center;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
	border: 2px solid #1A1A1A;
	box-sizing: border-box;
	color: #1A1A1A;
	display: inline-block;
	font-size: 12px;
	height: 27px;
	line-height: 27px;
	margin: 0 3px;
	text-align: center;
	width: 27px;
}

.wp-pagenavi .current {
	background-color: #1A1A1A;
	color: #F4D102;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	margin: 0 3px;
	width: 27px;
}

.wp-pagenavi .page {
	background-color: #1A1A1A;
	color: #F4D102;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	margin: 0 3px;
	width: 27px;
}

.news-single {
	margin: 60px auto 0;
	max-width: 810px;
	width: 70%;
}

.news-single__img-wrapper img {
	vertical-align: bottom;
	width: 100%;
}

.news-single__title-wrapper {
	background-color: #1A1A1A;
	padding: 15px 30px;
}

.news-single__date {
	color: #ffffff;
	font-size: 12px;
}

.news-single__title {
	color: #ffffff;
	font-size: 26px;
	margin-top: 20px;
}

.news-single__content {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
}

.news-single__sub-title {
	font-size: 22px;
}

.news-single__text {
	font-size: 16px;
	line-height: 1.625;
	margin-top: 30px;
}

.news-single__page-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.news-single__nav-wrapper {
	align-items: center;
	display: flex;
	width: 44.44444%;
}

.news-single__prev-arrow {
	background-color: #1A1A1A;
	border-radius: 50%;
	color: #F1C201;
	flex: 0 0 32px;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	margin-right: 12px;
	text-align: center;
}

.news-single__next-arrow {
	background-color: #1A1A1A;
	border-radius: 50%;
	color: #F1C201;
	flex: 0 0 32px;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	margin-left: 12px;
	text-align: center;
}

.news-single__prev-date {
	color: #333333;
	font-size: 12px;
}

.news-single__prev-text {
	color: #333333;
	font-size: 14px;
}

.news-single__next-date {
	color: #333333;
	font-size: 12px;
	text-align: right;
}

.news-single__next-text {
	color: #333333;
	font-size: 14px;
	text-align: right;
}

.story-detail__left-contents {
	background-color: #000;
	background-position: center, left center;
	background-repeat: no-repeat;
	background-size: cover, 70%;
}

.story-detail__right-contents {
	background-color: #000;
	background-position: center, right center;
	background-repeat: no-repeat;
	background-size: cover, 70%;
}

.story-detail__no-bgi {
	background-image: none !important;
}

.story-detail__breadcrumbs {
	color: #ffffff;
	margin: 30px auto 0;
	max-width: 810px;
	width: 70%;
}

.story-detail__breadcrumbs a {
	color: #ffffff;
}

.story-detail__title {
	margin-top: 30px;
}

.story-detail__right-content {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	max-width: 810px;
	width: 70%;
}

.story-detail__left-content {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 810px;
	width: 70%;
}

.story-detail__text {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.83333;
	padding-bottom: 60px;
	padding-top: 60px;
	width: 47%;
}

.comments-detail {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 810px;
	width: 70%;
}

.comments-detail__card {
	margin-right: 3.7037%;
	margin-top: 30px;
	width: 30.8642%;
}

.comments-detail__card:nth-child(3n) {
	margin-right: 0;
}

.comments-detail__name {
	color: #333333;
	font-size: 22px;
	text-align: center;
}

.comments-detail__expert {
	color: #666666;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
}

.comments-detail__text {
	color: #333333;
	font-size: 16px;
	margin-top: 15px;
}

.cast-detail {
	margin-top: 60px;
}

.cast-detail__sub-cast {
	margin: 60px auto 0;
	max-width: 810px;
	width: 70%;
}

.cast-detail__cards {
	display: flex;
	flex-wrap: wrap;
}

.cast-detail__card {
	display: flex;
	margin-bottom: 30px;
	margin-right: 3.7037%;
	width: 48.14815%;
}

.cast-detail__card:nth-child(2n) {
	margin-right: 0;
}

.cast-detail__img-wrapper {
	flex: 0 0 33.3%;
	margin-right: 10px;
}

.cast-detail__img {
	border-radius: 50%;
	width: 100%;
}

.cast-detail__country {
	color: #1A1A1A;
	font-size: 16px;
	line-height: 1.85;
}

.cast-detail__name {
	color: #1A1A1A;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.34545;
}

.cast-detail__expert {
	color: #1A1A1A;
	font-size: 12px;
	line-height: 2.46667;
}

.cast-detail__text {
	color: #1A1A1A;
	font-size: 12px;
	line-height: 1.75;
}

.cast-detail__musician {
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 60px;
	padding-bottom: 50px;
}

.cast-detail__musician-title {
	padding-top: 50px;
}

.cast-detail__musician-inner {
	margin: 60px auto 0;
	max-width: 810px;
	width: 70%;
}

.cast-detail__staff {
	margin: 60px auto 0;
	margin-top: 60px;
	max-width: 810px;
	width: 70%;
}

.cast-detail__staff-title {
	margin-bottom: 60px;
}

.inquiry {
	margin: 30px auto 0;
	max-width: 810px;
	width: 70%;
}

.inquiry__wrapper {
	background-color: rgba(255, 255, 255, 0.29);
	margin-top: 30px;
	padding: 30px;
}

.inquiry__text {
	color: #333333;
	font-size: 16px;
	line-height: 1.875;
}

.inquiry__form {
	margin-top: 20px;
}

.inquiry__row {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}

.inquiry__row label {
	color: #333333;
	display: block;
	font-size: 16px;
	margin-right: 20px;
	text-align: right;
}

.inquiry__row input[type="text"] {
	background: #ffffff;
	border: none;
	border-radius: 0;
	color: #333333;
	display: block;
	font-size: 16px;
	height: 45px;
	outline: none;
	padding: 0;
	width: 69.33333%;
}

.inquiry__row textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ffffff;
	border: 0;
	color: #333333;
	display: block;
	font-size: 16px;
	height: 165px;
	line-height: 1.5;
	outline: none;
	padding: 0;
	resize: none;
	width: 69.33333%;
}

.inquiry__btn {
	margin-top: 30px;
	text-align: center;
}

.inquiry__btn input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #c63205;
	border: none;
	color: #ffffff;
	display: inline-block;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	outline: none;
	padding: 0;
	text-align: center;
	width: 200px;
}

@media screen and (max-width: 991px) {

.main-visual__title {
	width: 90%;
}

.main-visual__content {
	width: 90%;
}

.main-visual__date {
	width: 280px;
}

.main-visual__text {
	width: 300px;
}

.introduction {
	width: 90%;
}

.news {
	padding-bottom: 40px;
	width: 90%;
}

.story__content {
	width: 90%;
}

.story__text {
	width: 75%;
}

.comments {
	width: 90%;
}

.cast__contents-inner {
	width: 90%;
}

.schedule {
	width: 90%;
}

.sub-header__img-wrapper {
	width: 90%;
}

.news-list {
	width: 90%;
}

.news-single {
	width: 90%;
}

.story-detail__left-contents {
	background-position: center;
	background-size: cover;
}

.story-detail__right-contents {
	background-position: center;
	background-size: cover;
}

.story-detail__text {
	width: 60%;
}

.comments-detail {
	width: 90%;
}

.cast-detail__sub-cast {
	width: 90%;
}

.cast-detail__musician-inner {
	width: 90%;
}

.cast-detail__staff {
	width: 90%;
}

.inquiry {
	width: 90%;
}

}

@media screen and (max-width: 767px) {

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__title {
	font-size: 16px;
}

.nav__english {
	display: none;
}

.main-visual__title {
	padding-bottom: 40px;
}

.main-visual__content {
	display: block;
}

.main-visual__date {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 90%;
}

.main-visual__text {
	margin: 0 auto;
	width: 90%;
}

.main-visual__btn {
	left: 50%;
	transform: translateX(-50%);
}

.title {
	font-size: 22px;
}

.introduction {
	background-size: 150px;
}

.introduction__sub-title {
	font-size: 22px;
}

.introduction__content {
	display: block;
}

.introduction__text:not(:last-child) {
	margin-right: 0;
}

.news__btn {
	bottom: 0;
	right: 50%;
	top: auto;
	transform: translateX(50%);
}

.news__cards {
	display: block;
}

.news__card {
	margin-bottom: 20px;
	width: 100%;
}

.news__card:nth-child(1),
.news__card:nth-child(2) {
	margin-right: 0;
}

.news__card-sub {
	margin-bottom: 20px;
	width: 100%;
}

.news__card-sub:nth-child(4) {
	margin-right: 0;
}

.card--sub .card__anchor {
	display: block;
}

.card--sub .card__img-wrapper {
	padding-top: 56%;
}

.card--sub .card__body {
	min-height: 120px;
}

.story__text {
	width: 100%;
}

.story__btn {
	margin-right: 0;
	text-align: center;
}

.comments__caption {
	font-size: 16px;
	text-align: left;
}

.comments__person {
	font-size: 14px;
	margin-left: 5%;
}

.comments__name {
	font-size: 16px;
}

.comments__text {
	margin: 15px 5% 0;
	width: auto;
}

.comments__btn {
	right: 50%;
	transform: translateX(50%);
}

.cast__contents-inner {
	display: block;
	margin-bottom: -100px;
	transform: translateY(-100px);
}

.cast__content {
	margin-right: 0;
	margin-top: 0;
	width: 100%;
}

.cast__img-wrapper {
	margin: 0 auto 20px;
	width: 240px;
}

.schedule__contents {
	padding-bottom: 30px;
}

.schedule__content {
	font-size: 14px;
}

.schedule__btns {
	display: block;
	width: auto;
}

.schedule__contact-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.schedule__ticket-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.sub-header__img-wrapper {
	display: block;
}

.sub-header__title-wrapper {
	margin-right: 0;
	width: 100%;
}

.sub-header__date-wrapper {
	margin: 0 auto;
	margin-top: 40px;
	width: 90%;
}

.sub-header__btn {
	right: 50%;
	transform: translateX(50%);
}

.sub-header__breadcrumbs {
	width: 90%;
}

.news-list__cards {
	display: block;
}

.news-list__card {
	margin-right: 0;
	width: 100%;
}

.news-single__nav-wrapper {
	width: 49.38272%;
}

.news-single__prev-arrow {
	flex: 0 0 25px;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}

.news-single__next-arrow {
	flex: 0 0 25px;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}

.news-single__prev-text {
	font-size: 12px;
}

.news-single__next-text {
	font-size: 12px;
}

.story-detail__breadcrumbs {
	width: 90%;
}

.story-detail__right-content {
	width: 90%;
}

.story-detail__left-content {
	width: 90%;
}

.story-detail__text {
	width: 100%;
}

.comments-detail {
	display: block;
}

.comments-detail__card {
	margin-right: 0;
	width: 100%;
}

.cast-detail__cards {
	display: block;
}

.cast-detail__card {
	margin-right: 0;
	width: 100%;
}

.cast-detail__name {
	font-size: 16px;
}

.inquiry__wrapper {
	padding: 15px;
}

.inquiry__row {
	display: block;
}

.inquiry__row label {
	margin-bottom: 15px;
	margin-right: 0;
	text-align: left;
}

.inquiry__row input[type="text"] {
	margin-bottom: 25px;
	width: 100%;
}

.inquiry__row textarea {
	width: 100%;
}

}

@media screen and (max-width: 575px) {

.nav {
	flex-wrap: wrap;
}

.nav__item {
	width: 30%;
}

.nav__item:not(:last-child) {
	margin-right: 0;
}

}

